<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row" id="heading">
            <div class="col-md-3">
                Name
            </div>
            <div class="col-md-3">
                Password
            </div>
            <div class="col-md-3">
                Actions
            </div>

        </div>
        <app-user *ngFor="let i of userData; index as ind" [element]="i" [index]="ind">
        </app-user>
    </div>


</body>

</html>